<app-menu-bar></app-menu-bar>
<router-outlet class="py-2 pr-4 pl-4"></router-outlet>
<footer class="footer p-4">
  <div class="grid align-items-center justify-content-center">
    <a href="https://www.linkedin.com/in/joseverdezoto/" target="_blank">
      <i class="pi pi-linkedin p-4" style="color: white;">
      </i>
    </a>

    <a href="https://github.com/ElGrandotex" target="_blank">
      <i class="pi pi-github p-4" style="color: white;"></i>
    </a>

    <a href="https://www.instagram.com/elgrandotex/" target="_blank">
      <i class="pi pi-instagram p-4" style="color: white;"></i>
    </a>

    <a href="https://wa.me/593982479474" target="_blank">
      <i class="pi pi-whatsapp p-4" style="color: white;"></i>
    </a>
  </div>
</footer>
