<div class="fadein animation-duration-1000">
  <h1 class="text-center px-4">Jos&eacute; Andr&eacute;s Verdezoto Mor&aacute;n</h1>
  <h5 class="text-center">Curriculum Vitae</h5>

  <div class="grid p-2">
    <div class="col-12 md:col-7 lg:col-7">
      <p-fieldset legend="Sobre mí" [toggleable]="true">
        <p class="m-0">
          Soy apasionado y dedicado con un firme compromiso con el
          aprendizaje continuo y el desarrollo de software. Mi enfoque
          proactivo y mi constante búsqueda de nuevos conocimientos
          me han permitido abordar desafíos con entusiasmo y
          adaptabilidad. Mi capacidad para aprender rápidamente y mi
          pasión por el desarrollo de software me impulsan a explorar
          nuevas tecnologías y metodologías, buscando siempre
          mejorar mis habilidades y contribuir de manera significativa en
          proyectos innovadores
        </p>
      </p-fieldset>
    </div>
    <div class="col-12 md:col-5 lg:col-5 text-center p-2">
      <img src="/assets/FotoPerfil.jpeg" alt="perfil" class="border-circle max-w-18rem p-4">
    </div>
  </div>

  <div class="card p-4">
    <p-tabView>
      <p-tabPanel header="Aptitudes">
        <ul>
          <li class="p-2"><i class="pi pi-hammer"></i> Habilidades para resolver problemas</li>
          <li class="p-2"><i class="pi pi-users"></i> Trabajo en equipo</li>
          <li class="p-2"><i class="pi pi-book"></i> Autoaprendizaje continuo</li>
          <li class="p-2"><i class="pi pi-face-smile"></i> Adaptabilidad</li>
          <li class="p-2"><i class="pi pi-comment"></i> Comunicación</li>
          <li class="p-2"><i class="pi pi-clock"></i> Gestión del tiempo</li>
          <li class="p-2"><i class="pi pi-star"></i> Metodologías ágiles (Scrum)</li>
          <li class="p-2"><i class="pi pi-play"></i> Proactividad</li>
        </ul>
      </p-tabPanel>
      <p-tabPanel header="Idiomas">
        <p>Español</p>
        <p-progressBar value="100">
          <ng-template pTemplate="content" let-value>
            <span>Nativo</span>
          </ng-template>
        </p-progressBar>

        <p>Ingl&eacute;s</p>
        <p-progressBar value="60">
          <ng-template pTemplate="content" let-value>
            <span>C1</span>
          </ng-template>
        </p-progressBar>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
